#createAnnouncement {
    border: 1px limegreen;
}
/* PADDING FOR DROP DOWN FORM */
.list-group-item-success{
    padding: 15px 15px;
}
/* STYLE THE ANNOUNCEMENT FORM */
#addAnnouncementForm{
    padding: 10px 0;
    margin-top: -20px;
}


/* HIDE EDIT/DELETE ICONS NORMALLY */
.announcement .on-show {
    display:none;
}

/* DISPLAY EDIT/DELETE ICONS ON HOVER */
.announcement:hover .on-show{
    display:inline;
}

/*Toolbar*/
.ql-toolbar.ql-snow{border-bottom: solid lightgray 1px;}

/*The Add Editor*/
#editor{
    border: 1px solid #ccc; height: 150px;
}

/*The divs that get turned into announcement*/
.annnouncementEditors.ql-container.ql-snow{border: none; height: 100px;}
/* Use javascript to change css to .annnouncementEditors{border: 1px solid #ccc; border-top: 0px;} during edit mode*/

.announcementTitle{
    width: 80%;
    background-color: white;
    border:none;
}

#addAnnouncementTitleContainer{
    margin-bottom: 7%;
}
.updateAnnouncement{display: none;}
.cancelEdit{display: none;}

/*Styles the errors to red*/
.error{color: red; display: none;}