/* ADDING NEW ASSIGNMENT HEADER */
.asgmt-create{
    border: 1px limegreen;
}

/* HIDE EDIT/DELETE ICONS NORMALLY */
.assignment .on-show {
    display:none;
}

/* DISPLAY EDIT/DELETE ICONS ON HOVER */
.assignment:hover .on-show{
    display:inline;
}

/* TITLE POSITIONING */
h3{
    margin-left: -15px;
}

/* STYLE THE ASSIGNMENT FORMS */
#assignmentForm{
    padding: 10px 15px;
    height: auto;
}

/* POSITION THE ASGMT FORM BUTTONS */
#assignmentForm button{
    margin-left: 7px;
}

/* SUBMIT AND CANCEL BUTTON FOR EDIT */
.asgmt-btns{
    margin-left: 70%;
}

/* SUBMIT BUTTON */
.asgmt-btn{
    margin-top: 20px;
}

/* PADDING FOR DROP DOWN FORM */
.list-group-item-success{
    padding: 15px 15px;
}

/* HIDE ELEMENTS */
.hidden{
    display: none !important;
}

/* SEPARATE ELEMENTS A LITTLE */
.asgmt-form{
    margin-top: 3px;
}

/* ASSIGNMENT DESCRIPTION STYLE */
.descr-padding{
    padding-top: .3cm;
}

/* PADDING FOR FORM - BETWEEN THE TEXTBOXES */
.label-padding{
    padding-top: .3cm;
}

/* CALENDAR WIDTH SIZING */
.datepicker{
    width: auto;
}

/* POSITIONING THE EDIT AND DELETE BUTTONS */
.funcBtn{
    float: right;
}