
/******Wrapper for Adding new Documents*******/

/*Textbox for Description*/
textarea {
    width: 100%;
    min-height: 50px;
    resize: vertical;
    margin: 0;
    padding: 2px;
}

/* DESCRIPTION TEXTAREA STYLING */
.doc-edit{
    margin-top: 5px;
    border: solid 1px #d9d9d9;
    border-radius: 4px;
    min-height: 90px;
}

/* SUBMIT AND CANCEL BTN POSITIONING */
.document-btns{
    margin-left: 70%;
}

/* GIVE PADDING AND HEIGHT FOR ADD NEW DOCUMENT */
#documentForm{
    padding: 10px 15px;
    height: auto;
}

/* ADDING NEW DOCUMENT BANNER */
.document-create{
    border: 1px limegreen;
}

/* HIDE EDIT/DELETE ICONS NORMALLY */
.document .on-show {
    display:none;
}

/* DISPLAY EDIT/DELETE ICONS ON HOVER */
.document:hover .on-show{
    display:inline;
}

/* PADDING FOR DESCRIPTION */
.description-pos{
    padding-top: .2cm;
}

/* PADDING FOR DROP DOWN FORM */
.list-group-item-success{
    padding: 15px 15px;
}

/* PADDING FOR FORM - BETWEEN THE TEXTBOXES */
.label-padding{
    padding-top: .3cm;
}
/******************************/


/******File selector******/

/* PADDING FOR FILE BTN */
.pickFileBtn{
    padding-top: .33cm;
    border: 0px;
    padding-left: .5cm;
}

/* POSITIONINF FOR SUBMIT BUTTON ON ADD NEW DOCUMENT */
.docSubmit{
    margin-top: 17px;
    margin-left: 65px;
}
/*******************************/


/******Documents display******/

/* TITLE POSITIONING */
h3{
    margin-left: -15px;
}

/* SEPARATE ELEMENTS A LITTLE */
.document-form{
    margin-top: 3px;
}

/* GIVE STYLING FOR DESCRIPTION */
.document-edit{
    margin-top: 5px;
    border: solid 1px #d9d9d9;
    border-radius: 4px;
    min-height: 90px;
}

/* POSITIONING THE EDIT AND DELETE BUTTONS */
.funcBtn{
    float: right;
}
/***********************************/