.forumPane{
    height: 100%;
    width: 100%;
    overflow-y: auto;
    /*margin-top: 10px;*/
    /*margin-left: -9px;*/
}

/*#accordion{*/
/*width: 100%;*/
/*height: 100%;*/
/*overflow: auto;*/
/*}*/
.write-post{
    height: 42px;
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}



.panel-info{
    background-color: #bce8f1;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 1px solid #ddd;
}

.post label{
    /*margin-left: 50%;*/
    margin-bottom: 0px !important;
    font-size: 9pt;
}

.post p{
    margin-bottom: 0px !important;
}

.posts .post-header{
    padding-left: 0px !important;
}

/*.post-header{*/
    /*background-color: #f5f5f5;*/
/*}*/

.posts .row{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.posts .author{
    padding-left: 0px !important;
}

.posts span{
    padding-left: 0px !important;
}

.likes-sect{
    margin-top: 10px;

}
.likes{
    margin-top: 1px;
    margin-left: -5px;
}

/* MOVE ICON TO CORRECT POSITION AND OVERWRITE btn CSS */
.likes-icon{
    margin-left: -20px;
    margin-top: -1px;
    padding: 0 0 !important;
    font-size: 9pt !important;
    line-height: 1 !important;
    border: 0px !important;
}

.cmt-cnt-sect{
    margin-top: 10px;
}
.cmt-cnt-icon{
    margin-left: -15px;
}
.cmt-cnt{
    margin-top: 1px;
}

.dateDisplay{
    margin-top: 10px;
}

.liked{
    font-weight: 900 !important;
}

.not-liked{
    font-weight: 300 !important;
}

/* EDIT & DELETE BUTTONS */
.edit-btns{
    font-size: 8pt;
    display: inline-flex;
    padding-left: 0px !important;
    margin-left: -8px;
    margin-top: -3px;
}

.post-title .on-show {
    display:none;
}

/* DISPLAY EDIT/DELETE ICONS ON HOVER */
.post-title:hover .on-show{
    display:inline-flex;
}

.post .on-show {
    display:none;
}

/* DISPLAY EDIT/DELETE ICONS ON HOVER */
.post:hover .on-show{
    display:inline-flex;
}