.gradable-create{
    border: 1px limegreen;
}

/* HIDE EDIT/DELETE ICONS NORMALLY */
.gradable .on-show {
    display:none;
}

/* DISPLAY EDIT/DELETE ICONS ON HOVER */
.gradable:hover .on-show{
    display:inline;
}

/* STYLE THE ASSIGNMENT FORMS */
#gradableForm{
    padding: 10px 15px;
    height: 260px;
}

/* POSITION THE ASGMT FORM BUTTONS */
#gradableForm button{
    margin-left: 7px;
}
.gradable-btns{
    margin-left: 70%;
}

/* SEPARATE ELEMENTS A LITTLE */
.gradable-form{
    margin-top: 3px;
}

.grade-edit{
    margin-top: 5px;
    border: solid 1px #d9d9d9;
    border-radius: 4px;
    min-height: 90px;
}

.select-type{
    margin-top: 10px;
}

.description-color{
    padding-top: .2cm;
}

/* PADDING FOR DROP DOWN FORM */
.list-group-item-success{
    padding: 15px 15px;
}

h3{
    margin-left: -15px;
}

textarea {
    width: 100%;
    min-height: 50px;
    resize: vertical;
    margin: 0;
    padding: 2px;
}