#toolbar{

    padding-top: .3cm;
    padding-bottom: .4cm;
}

.app-wrapper{
    height: 80%;
    border-top-style: inset;

}

.content{
    /*background-color: #737373;*/

    padding-bottom: .7cm;
    padding-left: .1cm;
    padding-right: .1cm;
}

/*CSS for Panes*/
.coursePane{
    margin-top: 10px;
    margin-left: 9px;
}

.tabPane{
    margin-top: 10px;
    margin-left: -18px;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.clickable:hover{
    cursor:pointer;
}

.forumPane{
    margin-top: 10px;
    margin-left: -9px;
    width: 1000%;
}

.panel-default{
    height: calc(100vh - 145px);
    text-align: center;
}


/*CSS for the things inside the course pane*/
#courseSelection,#courseAddEdit,#courseRegister,#courseSearch{
    /*border:1px solid black;*/
    /*border-collapse: collapse;*/
    /*padding-top:5px ;*/
    /*padding-bottom: 5px;*/
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/*END OF MODAL CSS */


/*
    Makes the things panes extend to the bottom
 /**!*/
/*#courseForm  { display: table;      }*/
/*#courseForm p{ display: table-row;  }*/
/*#courseForm label,#courseForm input, #courseForm select { display: table-cell; }*/


/*
    Makes the inputs match the container it's in even when zooming in/out
 */
input {
    width: 100%;
}

#public{
    width: auto;
}

#header{
    margin-right: 10px;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}

img.inline_header{
    display: inline;
}

.text{
    display: inline;
}

.text-logout{
    text-align: right;
    margin-top: -30px;
}

img.logout{
    height: 30px;
    width: 30px;

}

.header{
    height: 40px;
    background: #00bce1;
    margin-top: -2px;
}

.panel-footer{
    text-align: center;

}

/*#addCourse{*/
/*margin-left: 10px;*/
/*}*/




