body{
    overflow: hidden;
}

/*Header Pane*/
#toolbar{
    padding-top: .4cm;
    padding-left: 1cm;
    background-color: #00bce1;
}

.app-wrapper{
    height: 78%;
}

.content{
    padding-bottom: .7cm;
    padding-left: .1cm;
    padding-right: .1cm;
}

/*CSS for Panes INIT/Header*/
.coursePane{
    margin-top: 10px;
    margin-left: 9px;
    max-height: 100%;
}

.tabPane{
    margin-top: 10px;
    margin-left: -10px;
}

.forumPane{
    margin-top: 10px;
    margin-left: -9px;
    width: 100%;
}

.course-heading{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #f5f5f5;
    border-bottom: solid 1px #d9d9d9;
    /*padding-top: 1px;*/
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    height: 40.8px;
}

.tab-heading{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #f5f5f5;
}

.forum-heading{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #f5f5f5;
    padding: 10px 15px;
    border-bottom: solid 1px #d9d9d9;
}

/*END OF CSS FOR PANE HEADERS*/


/*CSS FOR TABS*/
.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.clickable:hover{
    cursor:pointer;
}

/*CSS END FOR TAGS*/


.panel-default{
    height: calc(100vh - 145px);
}

.btn-success{
    margin-top: -1px;
}

.course-box{
    height: 42px;
}


/*CSS for the things inside the course pane*/





/*END OF CSS FOR COURSE PANE*/


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.form-ctrl{
    display: block;
    width: 100%;
    height: 42px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.course-btn{
    height: 42px;
    margin-top: -1px;
    margin-right: -1px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    margin-top: 10%;
    padding: 20px;
    width: 50%; /* Could be more or less, depending on screen size */
    height: 60%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/*END OF MODAL CSS */


/*Makes the things panes extend to the bottom*/

#header{
    margin-right: 10px;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}

img.inline_header{
    display: inline;
    padding-left: .3cm;
    padding-bottom: .5cm;
}

.text{
    display: inline;
    font-family: 'Ubuntu', sans-serif;
}

h3{
    padding-left: .35cm;
}
.text-logout{
    text-align: right;
    margin-top: -40px;
    padding-right: .5cm;
}

img.logout{
    height: 30px;
    width: 30px;

}

.header{
    height: 40px;
    background: #00bce1;
    margin-top: -2px;
}

.panel-heading{
    font-size: large;
}
.footer-content{
    text-align: center;
}

.footer-content img, .footer-content span{
    text-align: center;
    font-size: 12px;
    height: 15px;
}

.addCourse{
    float: right;
    height: 40.8px;
    width: 42px;
    margin-top: -10px;
}



/****************************
*******MODAL ADD COURSE******
****************************/

/*Makes the enroll and search in course width */
#coursePrefix, #courseNumber{
    display: inline;
}

#courseName{
    width: 100%;
    margin-top: 15px;
}

/* CSS to move the Modal things to the left */
#prefNumDiv input, #semester{
    float: left;
    width: 100%;
    overflow: auto;
}

/* The Div with the public label and checkbox*/
#pubDiv{
    float: left;
    width: 100%;
    padding: 5px 5px 5px 5px;
    overflow: auto;

}

/* The Modal's public checkbox */
#public{
    margin-top: -5px;
    margin-left: 5px;
}
/*Class to stop the floating from messing with alignment */
.noFloat {
    clear:both;
}
#tagList{
    width: 60%;
    float:left;
    overflow: auto;
    margin-top: 15px;
}

#addTagBtn{
    float: left;
    overflow: auto;
    margin-top: 15px;
    margin-left: 10px;
}
/* Where our tags are put into in the modal*/
.hideScroll{
    overflow: hidden;
}

#tagPane{
    margin: 60px auto auto auto;
    width: 100%;
    height: 123px;
    padding-top: 10px;
    padding-bottom: 10px;
    clear: both;
    overflow: auto;
    border: 1.6px solid  #e0e0e0;;
    border-radius: 5px;
}

/* The Add Course button */
#courseSubmit{
    position: absolute;
    bottom: 4%;
    left: 43%;
}


/* The CSS for the chips */
.chip {
    display: inline-block;
    padding: 0 15px 0 10px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

.chip img {
    float: left;
    margin: 0 10px -25px -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.closebtn {
    padding-right: 10px;
    color: #888;
    font-weight: bold;
    float: left;
    font-size: 20px;
    cursor: pointer;
}

.closebtn:hover {
    color: #000;
}

/* Chip CSS end */

/*CSS for Course Cards */
.card-title, .card-subtitle{
    text-align: left;
    margin-top: 1px;
    margin-bottom: 1px;
}

.list-group-item{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.list-grouper{
    padding-left: 0;
    /*padding-right:3px;*/
    margin-bottom: 0;
}

.list-grouper .on-show {
    display:none;
}

.list-grouper:hover .on-show{
    display:inline;
}
