/*CSS for the quiz tab*/
#quizCreation{display: none;}

/* ADD NEW QUIZ */
.quiz-create{
    border: 1px limegreen;
}

/* PADDING FOR DROP DOWN FORM */
.list-group-item-success{
    padding: 15px 15px;
}

/* STYLE THE ASSIGNMENT FORMS */
#quizForm{
    padding: 10px 15px;
    height: auto;
}

/* SEPARATE ELEMENTS A LITTLE */
.quiz-form{
    margin-top: 3px;
}

/* PADDING FOR FORM - BETWEEN THE TEXTBOXES */
.label-padding{
    padding-top: .3cm;
}

/* SAVE AND CANCEL BUTTON POSITIONING */
.quiz-btns{
    margin-left: 60%;
    margin-top: 5%;
}

.quiz-btns label{
    display : none;
}

/* SET TEXTAREA WIDTH LENGTH */
textarea.form-control{
    width: 100%;
}

/* HIDE EDIT/DELETE ICONS NORMALLY */
.quiz .on-show {
    display:none;
    float:right;
}

/* DISPLAY EDIT/DELETE ICONS ON HOVER */
.quiz:hover .on-show{
    display:inline;
    float:right;
}

/* POSITIONING THE TITLE */
h3{
    margin-left: -15px;
}

/* POSITIONING THE REMOVE SYMBOL */
.remove{
    float: right;
}

/* FOR QUIZ CREATION */
#quizCreation{display: none;}


/* PADDING FOR DROP DOWN FORM */
.expandButton{
    padding: 15px 15px;
}

/* HIDE ELEMENTS */
.hidden{
    display: none !important;
}

/* CALENDAR WIDTH SIZING */
.datepicker{
    width: auto;
}


/***** STUDENT QUIZ TAKER *****/

/* PAGINATION POSITIONING */
.pagination-margin{
    margin: 0 0;
}

/* SIZE THE PANEL BODY */
.content-quiz{
    height: calc(74vh - 145px);
}