body{
    background-color:#fff;
}

.jumbotron{
    margin-bottom: 0; /* Remove the default bottom margin of .jumbotron */
    /*padding-top: 1*/
    font-size: medium;
    height: 600px;
}

.form-horizontal {
    border-radius: 10px;
    margin-right: 14%;
}

.introduction {
    text-align: center;
    vertical-align: middle;
    padding-top: 5%;
}

.form-control-lg{
    width: 50%;
}

p.header{
    font-size: 500%
}

p.subheader{
    font-size: 300%;
}

.form{
    padding-top: -100px;
    margin-top: -100px;
}

#form{
    margin-top: 30px;
}

#footer{
    padding-top: 1.5cm;
    text-align: center;
}

.inline{
    display: inline;
}

.bottom-form{
    margin-left: 15%;
}
