
/*Course Pane*/
#courseSelection{
    max-height: 93%;
    overflow-y: auto;
}

/* PADDING */
h2{
    padding-left: .3cm;
    padding-bottom: .2cm;
}

/* PDF VIEWER */
iframe{
    margin-top: 10px;
    height: 562px;
    width: 100%;
}